@charset "UTF-8";

/* 中间弹出的灰色弹框 */
.error-tip-box {
    position: absolute;
    min-width: 50%;
    max-width: 70%;
    padding: 0.5rem 1rem;
    line-height: 1.2rem;
    border-radius: 2px;
    color: #fff;
    opacity: 0;
    background: rgba(0, 0, 0, .79);
    /* background:#656565;*/
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
}

.tran-opacity-show {
    opacity: .9;
    /* 灰色错误弹框为页面中层级最高的绝对定位 */
    z-index: 4;
    transition: opacity 0.6s;
}

.tran-opacity-hide {
    opacity: 0;
    z-index: -10;
    transition: opacity 0.6s;
}

p.activity-theme {
}

p.activity-theme > img {
    width: 100%;
    height: auto;
}

div.activity-bg-wall {
    width: 100%;
    background: url("../img/activity-bg.png") no-repeat center;
    background-size: cover;
    padding-bottom: 2rem;
    /*min-height: 60rem;*/
}

div.line {
    width: 92%;
    padding: 0 4%;
    position: relative;
    overflow: hidden;
}

div.line > p {
    /*background: #fff;*/
    display: flex;
    overflow: hidden;
    padding: .2rem 0;
}

/* <!-- 目的地介绍 destination-wall --> */
#destination-wall {
    overflow: hidden;
}

div.destination-introduce, div.prize-plate {
    height: 16rem;
    margin-top: 1.3rem;
    padding-top: 1.4rem;
    overflow: hidden;
    border-radius: 6px;
}

div.destination-introduce {
    border-top: 1px solid #c7c6c5;
}

p.title-plate {
    height: 2.5rem;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

p.title-plate > img.common-title-img {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

p.title-plate > span.common-title {
    width: 52%;
    height: 100%;
    line-height: 2.5rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to right, #3ffaf5, #26e5f7 50%, #3ffaf5);
    box-shadow: 1px 2px 5px 1px #ccc;
}

div.assist-position {
    width: 100%;
    height: inherit;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

span.prize-intro {
    position: absolute;
    z-index: 1;
    display: block;
    width: 82%;
    padding: .3rem 2%;
    left: 7%;
    line-height: 1.4rem;
    margin: 2.8rem auto 0;
    height: 2.7rem;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #2b87f4;
    border: 2px solid #0d3381;
    border-radius: 6px;
    box-shadow: 0 5px 2px 0 #d0c742;
}

p.destination-photo {
    width: 100%;
    height: inherit;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    background: url("../img/destination-bg.png") no-repeat center;
    background-size: cover;
}

/* ------奖品板块------ */
div.prize-plate {
    border: 1px solid #c6c5c4;
    background: #fff;
    height: inherit;
}

span.prize-coming-font {
    display: block;
    width: 82%;
    margin: 1.2rem auto .4rem;
    height: 2.6rem;
    top: 3.6rem;
    line-height: 2rem;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ff8130;
    text-align: center;
}

/* 成功参加后显示板块 */
p.success-join-plate {
    display: none;
    opacity: 0;
    transform: scale(0);
}

/* 旅游目的地板块 */
p.common-destination-plate {
    width: 84%;
    height: 14rem;
    position: relative;
    margin: 2.2rem auto;
    border: 2px solid #9a9a9a;
    border-radius: 6px;
    background-size: cover;
}

.first-destination-plate {
    background: url("../img/destination-1.png") no-repeat center;
}

.second-destination-plate {
    background: url("../img/destination-2.png") no-repeat center;
}

.third-destination-plate {
    background: url("../img/destination-3.png") no-repeat center;
}

span.small-prize-intro {
    display: block;
    position: absolute;
    width: 80%;
    top: -1.3rem;
    line-height: 1.2rem;
    letter-spacing: 0;
    margin-left: 10%;
    height: 2.4rem;
    padding: 0.2rem 0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background: #2b87f4;
    border: 2px solid #0d3381;
    border-radius: 6px;
    box-shadow: 0 3px 0 0 #ebda52;
}

div.prize-plate > p.success-join-plate > label {
    display: block;
    width: 100%;
    margin-bottom: .2rem;
    text-align: center;
}

label.successfully-participate {
    /*color: #2b87f4;*/
    font-size: 18px;
    font-weight: bold;
    margin-top: .6rem;
    letter-spacing: 2px;
}

#code-number {
    color: #2b87f4;
}

/* 立即参与 */
img.common-img-style {
    display: block;
    height: 2.5rem;
    margin: 0 auto;
}

#join-btn {
    height: 2.8rem;
    margin: 0 auto 2rem;
    cursor: pointer;
}

div.activity-rule-detail {
    display: block;
    background: #fff;
    padding: 1.8rem 4% .8rem;
    min-height: 6rem;
    margin-top: 1.3rem;
    overflow: hidden;
    border: 1px solid #c7c6c5;
    border-radius: 6px;
}

div.activity-rule-detail > span {
    display: block;
    width: 100%;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

/*  全屏遮罩层 */
div.full-screen-div {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

/* 弹框-模态框 */
div.modal-box {
    width: 86%;
    /*height:16.6rem;*/
    border-radius: 6px;
    padding: 1rem 0;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -3;
    /*overflow: hidden;*/
}

p.modal-box-title {
    height: 3.2rem;
    /*background: #89cef7;*/
    text-align: center;
    position: relative;
    margin-top: -3.2rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

p.modal-box-title > img {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    padding: 0.1rem;
    right: 0.4rem;
    top: 0.2rem;
    cursor: pointer;
    vertical-align: middle;
}

p.common-p-style {
    width: 90%;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0.8rem auto;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 16px;
}

p.modal-box-rule-tips {
    width: 92%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    height: auto;
    padding-bottom: .4rem;
    margin: 0 auto;
    line-height: 1.2rem;
    text-align: center;
}

p.modal-box-rule-tips > span {
    color: #2b87f4;
    letter-spacing: 1px;
}

/* 手机号码 line */
input.phone-input, input.draw-num-input {
    display: block;
    width: 100%;
    height: inherit;
    border-radius: 6px;
    text-indent: .7em;
    overflow: hidden;
    letter-spacing: 1px;
}

input:hover {
    box-shadow: 0 0 0 1px #1198e3;
    transition: box-shadow .4s;
}

/* 验证码 line */
p.verify-code-wall {
    width: 90%;
    margin: 1rem auto;
    height: 2.4rem;
    border-radius: 6px;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

p.verify-code-wall > input.common-code-input {
    flex-basis: 53%;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-indent: .7em;
    letter-spacing: 1px;
}

p.verify-code-wall > span.placeholder {
    flex-basis: 7%;
}

p.verify-code-wall > input.get-code-btn {
    flex-basis: 40%;
    border-radius: 6px;
    background: #00dfa6;
    letter-spacing: 1px;
    color: #fff;
}

/* 按钮公共样式 */
.common-btn-style {
    width: 90%;
    margin: 0 auto;
    background: #acaaab;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 6px;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}

/* 参加抽奖 btn */
p#draw-btn {
    background: #acaaab;
}

p.join-activity-success-tip {
    width: 100%;
    color: #2b87f4;
    border: 0;
    text-align: center;
    margin: .5rem auto .7rem;
}

p#modal-confirm-btn {
    width: 36%;
    background: #2496f7;
    margin-bottom: .3rem;
}


