@charset "UTF-8";

body {
    font: 14px/1.5 "microsoft yahei", "arial", "microsoft yahei ui", "simsun", "sans-serif";
    color: #323232;
    background: #f0f2f6;
    letter-spacing: 1px;
}

/*a标签*/
a {
    text-decoration: none;
    color: #fff;
    font: 14px/1.5 "microsoft yahei", "arial", "microsoft yahei ui", "simsun", "sans-serif";
}

a:hover {
    color: #1198e3;
}

/*a标签*/
a {
    text-decoration: none;
}

/*input*/
input:focus {
    border: 0;
}

input[type=password] {
    color: #232323;
}

textarea:hover {
    border: 1px solid #20a2e6;
}

/*opacity*/
.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.left-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

/*cursor*/
.cur-point {
    cursor: pointer;
}

.cur-default {
    cursor: default;
}

/*overflow*/
.over-hid {
    overflow: hidden;
}

.over-auto {
    overflow: auto;
}

.over-x-hid {
    overflow-x: hidden;
}

.over-y-auto {
    overflow-y: auto;
}

/*float*/
.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*position*/
.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.pos-fixed {
    position: fixed;
}

/*display*/
.dis-none {
    display: none;
}

.dis-inl-block {
    display: inline-block;
}

.dis-block {
    display: block;
}

.dis-flex {
    display: flex;
}

/*flex-direction*/
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/*justify-content: 在flex布局中 主轴居中【伸缩容器的justify-content属性用于调整主轴上伸缩项目的位置】 */
.justify-cen {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start
}

/*主轴起点对齐*/
.justify-end {
    justify-content: flex-end;
}

/*主轴终点对齐*/

/*align-items: 调整伸缩项目在侧轴上的定位方式*/
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

/*flex-end: 根据侧轴的终点对齐*/
.align-cen {
    align-items: center;
}

.align-str {
    align-items: stretch;
}

/*stretch: 它会将伸缩项目从侧轴起点拉伸到侧轴终点*/
.align-bas {
    align-items: baseline;
}

/*baseline: 则是让伸缩项目与它们的基线对齐*/

.flex-wrap {
    flex-wrap: wrap;
}

/*flex: flex-grow flex-shrink flex-basis; 不同比例 (详细讲解: http://zhoon.github.io/css3/2014/08/23/flex.html)*/
.flex-1 {
    flex: 1 1 0%;
}

.flex-2 {
    flex: 2 2 0%;
}

.flex-3 {
    flex: 3 3 0%;
}

.flex-4 {
    flex: 4 4 0%;
}

.flex-5 {
    flex: 5 5 0%;
}

.flex-6 {
    flex: 6 6 0%;
}

.flex-7 {
    flex: 7 7 0%;
}

.flex-8 {
    flex: 8 8 0%;
}

/*vertical-align*/
.vertical-top {
    vertical-align: top;
}

.vertical-mid {
    vertical-align: middle;
}

/*margin*/
.mar-auto {
    margin: auto;
}

/*间歇的mar-auto主要用在flex布局中*/
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

/*text-align*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*font-size*/
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-bold {
    font-weight: bold;
}

/*font-color*/
.white-font {
    color: #fff;
}

.blue-font {
    color: #26abf4;
}

.grey-font {
    color: #757575;
}

/*letter-spacing*/
.let-spa-1px {
    letter-spacing: 1px;
}

.let-spa-2px {
    letter-spacing: 2px;
}

/*text-indent*/
.text-ind-05 {
    text-indent: .5rem;
}

.text-ind-1rem {
    text-indent: 1rem;
}

.text-ind-2rem {
    text-indent: 2rem;
}

.text-ind-4rem {
    text-indent: 4rem;
}


